.wrapper
  = render partial: 'shared/products_header'
  .new__user
    .new__user--post 
      %h2 会員情報入力
    = form_with model: @user, url: user_registration_path,　class:'boxes', local: true  do |f|
      = render "devise/shared/error_messages", resource: resource
      .boxes__field
        = f.label :'ニックネーム'
        %span 必須
        %br/
        = f.text_field :nickname, autofocus: true, placeholder:'例)フリマ太郎', class:'boxes__field__large-frame'
      .boxes__field
        = f.label :'メールアドレス'
        %span 必須
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'PC・携帯どちらでも可', class:'boxes__field__large-frame'
      .boxes__field
        = f.label :'パスワード'
        %span 必須
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder:'7文字以上の半角英数字', class:'boxes__field__large-frame'
      .boxes__field
        = f.label :'パスワード(再確認)'
        %span 必須
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'上記と同じ文字を入力', class:'boxes__field__large-frame'
        .actions
          = f.submit "次へ進む", class:'actions__btn'
  = render partial: 'shared/products_footer'
