= render partisl: 
%h3 本人確認
%p
安心・安全にご利用いただくために、お客
%br/
様の本人情報の登録にご協力ください。他
%br/
のお客様に公開されることはありません。
= form_with model: @profile, url: profiles_path, class:'boxes', local: true do |p|
  .boxes__field
    = p.label :'お名前(全角)'
    %span 必須
    %br/
    = p.text_field :lastname, placeholder:'例)山田', class:'boxes__field__middle-frame'
    = p.text_field :firstname, placeholder:'例)彩', class:'boxes__field__middle-frame'
  .boxes__field
    = p.label :'お名前カナ(全角)'
    %span 必須
    %br/
    = p.text_field :lastname_kana, placeholder:'例)ヤマダ', class:'boxes__field__middle-frame'
    = p.text_field :firstname_kana, placeholder:'例)アヤ', class:'boxes__field__middle-frame'
  .boxes__field
    = p.label :'郵便番号'
    %span 必須
    %br/
    = p.text_field :postal_code, placeholder:'例)123-4567', class:'boxes__field__middle-frame'
  .boxes__field
    = p.label :'都道府県'
    %span 必須
    %br/
    = p.text_field :prefecture, placeholder:'例)東京都', class:'boxes__field__large-frame'
  .boxes__field
    = p.label :'市区町村'
    %span 必須
    %br/
    = p.text_field :city, placeholder:'例)渋谷区', class:'boxes__field__large-frame'
  .boxes__field
    = p.label :'番地'
    %span 必須
    %br/
    = p.text_field :address, placeholder:'例)道玄坂2-23-12', class:'boxes__field__large-frame'
  .boxes__field
    = p.label :'建物名'
    %span 任意
    %br/
    = p.text_field :building, placeholder:'例)フォンティスビル7F', class:'boxes__field__large-frame'
  .boxes__field
    = p.label :'電話番号'
    %span 任意
    %br/
    = p.text_field :tell, placeholder:'例)012-3456-7890', class:'boxes__field__large-frame'
  .boxes__field
    = p.label :'生年月日'
    %span 必須
    %br/
    != sprintf(p.date_select(:birthday, with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
  .actions
    = p.submit "登録する", class:'actions__btn'
  .footer