.defalt-container
  .l-container
    .l-container__side
      .l-container__side__mypage-nav
        %ul
          %li.mypage-nav-list-item.nav-active
            マイページ
            .icon-arrow-right
              >
          %li.mypage-nav-list-item
            お知らせ
            .icon-arrow-right
              >
          %li.mypage-nav-list-item
            やることリスト
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            いいね!一覧
            .icon-arrow-right
              >
          %li.mypage-nav-list-item
            出品する
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            出品した商品-出品中
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            出品した商品-取引中
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            出品した商品-売却済み
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            購入した商品-取引中
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            購入した商品-過去の取引
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ニュース一覧
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            評価一覧
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ガイド
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            お問い合わせ
            .icon-arrow-right
              >
        .l-container__side__mypage-nav__head
          FURIMAペイ
        %ul
          %li.mypage-nav-list-item 
            売却・振込申請
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ポイント
            .icon-arrow-right
              >
        .l-container__side__mypage-nav__head
          設定
        %ul
          %li.mypage-nav-list-item 
            プロフィール
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            発送元・お届け先住所住所変更
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            支払い方法
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            メール/パスワード
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            本人情報
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            電話番号の確認
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ログアウト
            .icon-arrow-right
              >
    //マイページ
    .l-container__content.side-nav-active-show-content
      .l-container__content__mypage-user
        = link_to "#",class: "user-detail" do
          = image_tag 'member_photo_noimage_thumb.png', alt: 'ユーザー写真', height: '60', width: '60', class: 'user-icon'
          .user-name
            ユーザー名
          .user-evaluations-exhibitions
            .evaluations
              評価数:
              .evaluations__numbers
                0
            .exhibitions
              出品数:
              .exhibitions__numbers
                0
      .l-container__content__mypage-tabs-container-info-todo
        %ul.l-container__content__mypage-tabs-container-info-todo__tabs
          %li
            = link_to "#",class:"info-todo-tab info-todo_active" do
              お知らせ
          %li
            = link_to "#",class:"info-todo-tab" do
              やることリスト
        .l-container__content__mypage-tabs-container-info-todo__contents
          %ul.info-todo_content.info-todo_show
            %li
              = link_to "#",class:"info-tab_item" do
                1.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                2.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                3.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                4.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                5.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-index" do
                一覧を見る
          %ul.info-todo_content
            %li
              = link_to "#",class:"info-tab_item" do
                1.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                2.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                3.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                4.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                5.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-index" do
                一覧を見る

      .l-container__content__mypage-tab-container-purchase
        .l-container__content__mypage-tab-container-purchase__head
          購入した商品
        %ul.l-container__content__mypage-tab-container-purchase__tabs
          %li
            = link_to "#",class:"purchase-tab purchase_active" do
              取引中
          %li
            = link_to "#",class:"purchase-tab" do
              過去の取引
        .l-container__content__mypage-tab-container-purchase__contents
          %ul.purchase_content.purchase_show
            %li.not-found
              取引中の商品がありません
          %ul.purchase_content
            %li.not-found
              過去に取引した商品がありません
    //お知らせ
    .l-container__content
      お知らせ
    //やることリスト
    .l-container__content
      やることリスト
    //いいね!一覧
    .l-container__content
      いいね!一覧
    //出品する
    .l-container__content
      出品する
    //出品した商品-出品中
    .l-container__content
      出品した商品-出品中
    //出品した商品-取引中
    .l-container__content
      出品した商品-取引中
    //出品した商品-売却済み
    .l-container__content
      出品した商品-売却済み
    //購入した商品-取引中
    .l-container__content
      購入した商品-取引中
    //購入した商品-過去の取引
    .l-container__content
      購入した商品-過去の取引
    //ニュース一覧
    .l-container__content
      ニュース一覧
    //評価一覧
    .l-container__content
      評価一覧
    //ガイド
    .l-container__content
      ガイド
    //お問い合わせ
    .l-container__content
      お問い合わせ
    //売却・振込申請
    .l-container__content
      売却・振込申請
    //ポイント
    .l-container__content
      ポイント
    //プロフィール
    .l-container__content
      プロフィール
    //発送元・お届け先住所住所変更
    .l-container__content
      発送元・お届け先住所住所変更
    //支払い方法
    .l-container__content
      .l-container__content__credit
        .l-container__content__credit__head
          支払い方法
        .l-container__content__credit__container
          .l-container__content__credit__container__index
            クレジットカード一覧
          .l-container__content__credit__container__add-card
            .l-container__content__credit__container__add-card__btn
              = link_to "#",class: "add-card-btn" do
                = image_tag 'icon-04.png', alt: 'icon', height: '60px', width: '50px', class: 'icon'
                クレジットカードを追加する
          .l-container__content__credit__container__how-to-pay
            = link_to "#",class: "how-to-pay-text" do
              支払い方法について
              .icon-arrow-right
                >
    //メール/パスワード
    .l-container__content
      メール/パスワード
    //本人情報
    .l-container__content
      本人情報
    //電話番号の確認
    .l-container__content
      電話番号の確認
    //ログアウト
    .l-container__content
      .l-container__content__logout
        .l-container__content__logout__container
          .l-container__content__logout__container__btn
            = link_to "#",class: "logout-btn" do
              ログアウト