.defalt-container
  .l-container
    .l-container__side
      .l-container__side__mypage-nav
        %ul
          %li.mypage-nav-list-item.active
            マイページ
            .icon-arrow-right
              >
          %li.mypage-nav-list-item
            お知らせ
            .icon-arrow-right
              >
          %li.mypage-nav-list-item
            やることリスト
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            いいね!一覧
            .icon-arrow-right
              >
          %li 
            = link_to new_product_path,class:"mypage-nav-list-item" do
              出品する
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            出品した商品-出品中
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            出品した商品-取引中
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            出品した商品-売却済み
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            購入した商品-取引中
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            購入した商品-過去の取引
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ニュース一覧
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            評価一覧
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ガイド
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            お問い合わせ
            .icon-arrow-right
              >
        .l-container__side__mypage-nav__head
          FURIMAペイ
        %ul
          %li.mypage-nav-list-item 
            売却・振込申請
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ポイント
            .icon-arrow-right
              >
        .l-container__side__mypage-nav__head
          設定
        %ul
          %li.mypage-nav-list-item 
            プロフィール
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            発送元・お届け先住所住所変更
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            支払い方法
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            メール/パスワード
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            本人情報
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            電話番号の確認
            .icon-arrow-right
              >
          %li.mypage-nav-list-item 
            ログアウト
            .icon-arrow-right
              >
    //マイページ
    .l-container__content.show
      .l-container__content__mypage-user
        = link_to "#",class: "user-detail" do
          = image_tag 'member_photo_noimage_thumb.png', alt: 'ユーザー写真', height: '60', width: '60', class: 'user-icon'
          .user-name
            ユーザー名
          .user-evaluations-exhibitions
            .evaluations
              評価数:
              .evaluations__numbers
                0
            .exhibitions
              出品数:
              .exhibitions__numbers
                0
      .l-container__content__mypage-tabs-container-info-todo
        %ul.l-container__content__mypage-tabs-container-info-todo__tabs
          %li.info-todo-tab.active.initialize-active
            お知らせ
          %li.info-todo-tab
            やることリスト
        .l-container__content__mypage-tabs-container-info-todo__contents
          %ul.info-todo_content.show.initialize-show
            %li
              = link_to "#",class:"info-tab_item" do
                1.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                2.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                3.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                4.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                5.お知らせ
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-index" do
                一覧を見る
          %ul.info-todo_content
            %li
              = link_to "#",class:"info-tab_item" do
                1.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                2.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                3.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                4.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-tab_item" do
                5.やること
              .icon-arrow-right
                >
            %li
              = link_to "#",class:"info-index" do
                一覧を見る

      .l-container__content__mypage-tab-container-purchase
        .l-container__content__mypage-tab-container-purchase__head
          購入した商品
        %ul.l-container__content__mypage-tab-container-purchase__tabs
          %li.purchase-tab.active.initialize-active
            取引中
          %li.purchase-tab
            過去の取引
        .l-container__content__mypage-tab-container-purchase__contents
          %ul.purchase_content.show.initialize-show
            %li.not-found
              取引中の商品がありません
          %ul.purchase_content
            %li.not-found
              過去に取引した商品がありません
    //お知らせ
    .l-container__content
      お知らせ
    //やることリスト
    .l-container__content
      やることリスト
    //いいね!一覧
    .l-container__content
      いいね!一覧
    //出品する
    .l-container__content
      出品する
    //出品した商品-出品中
    .l-container__content
      出品した商品-出品中
    //出品した商品-取引中
    .l-container__content
      出品した商品-取引中
    //出品した商品-売却済み
    .l-container__content
      出品した商品-売却済み
    //購入した商品-取引中
    .l-container__content
      購入した商品-取引中
    //購入した商品-過去の取引
    .l-container__content
      購入した商品-過去の取引
    //ニュース一覧
    .l-container__content
      ニュース一覧
    //評価一覧
    .l-container__content
      評価一覧
    //ガイド
    .l-container__content
      ガイド
    //お問い合わせ
    .l-container__content
      お問い合わせ
    //売却・振込申請
    .l-container__content
      売却・振込申請
    //ポイント
    .l-container__content
      ポイント
    //プロフィール
    .l-container__content
      プロフィール
    //発送元・お届け先住所住所変更
    .l-container__content
      発送元・お届け先住所住所変更
    //支払い方法
    .l-container__content
      .l-container__content__credit.active.initialize-active
        .l-container__content__credit__head
          支払い方法
        .l-container__content__credit__container
          .l-container__content__credit__container__index
            クレジットカード一覧
          .l-container__content__credit__container__add-card
            .btn
              = image_tag 'icon-04.png', alt: 'icon', height: '60px', width: '50px', class: 'icon'
              クレジットカードを追加する
          .l-container__content__credit__container__how-to-pay
            = link_to "#",class: "how-to-pay-text" do
              支払い方法について
              .icon-arrow-right
                >
      .l-container__content__credit
        .l-container__content__credit__head
          クレジットカード情報入力
        .l-container__content__credit__info-container
          .l-container__content__credit__info-container__input-form
            .l-container__content__credit__info-container__input-form__card-number
              .l-container__content__credit__info-container__input-form__card-number__title
                カード番号
                .require
                  必須
              %input.card-number{maxlength: "16", name: "number", placeholder: "半角数字のみ", type: "text", id: "payment_card_no"}/
              %ul.card-list
                %li
                  = image_tag 'visa.png', alt: 'visa', height: '30', width: '40', class: 'visa'
                %li
                  = image_tag 'master.png', alt: 'master', height: '30', width: '40', class: 'master'
                %li
                  = image_tag 'seison.png', alt: 'seison', height: '30', width: '40', class: 'seison'
                %li
                  = image_tag 'jcb.png', alt: 'jcb', height: '30', width: '40', class: 'jcb'
                %li
                  = image_tag 'AmericanExpress.png', alt: 'AmericanExpress', height: '30', width: '40', class: 'AmericanExpress'
                %li
                  = image_tag 'DinersClub.png', alt: 'DinersClub', height: '30', width: '40', class: 'DinersClub'
                %li
                  = image_tag 'discovercard.png', alt: 'discovercard', height: '30', width: '40', class: 'discovercard'
            .l-container__content__credit__info-container__input-form__expiration-date
              .l-container__content__credit__info-container__input-form__expiration-date__title
                有効期限
                .require
                  必須
              .l-container__content__credit__info-container__input-form__expiration-date__month-year
                %select.month-select{maxlength: "2", name: "month", type: "text"}
                  %option{value: "1"}01
                  %option{value: "2"}02
                  %option{value: "3"}03
                  %option{value: "4"}04
                  %option{value: "5"}05
                  %option{value: "6"}06
                  %option{value: "7"}07
                  %option{value: "8"}08
                  %option{value: "9"}09
                  %option{value: "10"}10
                  %option{value: "11"}11
                  %option{value: "12"}12
                .month
                  月
                %select.year-select{maxlength: "4", name: "year", type: "text"}
                  %option{value: "2019"}19
                  %option{value: "2020"}20
                  %option{value: "2021"}21
                  %option{value: "2022"}22
                  %option{value: "2023"}23
                  %option{value: "2024"}24
                  %option{value: "2025"}25
                  %option{value: "2026"}26
                  %option{value: "2027"}27
                  %option{value: "2028"}28
                  %option{value: "2029"}29
                .year
                  年
            .l-container__content__credit__info-container__input-form__securiry-code
              .l-container__content__credit__info-container__input-form__securiry-code__title
                セキュリティコード
                .require
                  必須
              %input.securiry-code{maxlength: "3", name: "cvc", placeholder: "カード背面４桁もしくは３桁の番号", type: "text", id: "payment_card_cvc"}
              .card-question
                カード裏面の番号とは？
            = link_to "#",class: "add-btn" do
              追加する
    //メール/パスワード
    .l-container__content
      メール/パスワード
    //本人情報
    .l-container__content
      本人情報
    //電話番号の確認
    .l-container__content
      電話番号の確認
    //ログアウト
    .l-container__content
      .l-container__content__logout
        .l-container__content__logout__container
          .l-container__content__logout__container__btn
            = link_to "#",class: "logout-btn" do
              ログアウト