.top-page
  .header
    .header-box
      .header-block
        .main-header
          .logo-icon
            = link_to (image_tag "logo.png",size: "140x40"), root_path
          .search-form
            = form_tag(search_products_path, method: :get, class: 'search-form') do
              = text_field_tag :search, "", placeholder: 'キーワードから探す'
              = image_submit_tag "icon-search 1.png", class:'search-btn', name: nil
        .main-navi
          .left-navi
            .menu-category
              = link_to 'カテゴリー', root_path
              %ul.firstMenu
                - @parents.each do |parent|
                  %li.firstMenu__parent
                    = parent.name
                    %ul.secondMenu
                      - parent.children.each do |child|
                        %li.secondMenu__child
                          = child.name
                          %ul.thirdMenu
                            - child.children.each do |grandchild|
                              %li.thirdMenu__grandchild
                                = grandchild.name
            .menu-brand
              = link_to 'ブランド', root_path
          .right-navi
            - if user_signed_in?
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
              = link_to 'マイページ', user_path(current_user)
            - else
              = link_to 'ログイン', new_user_session_path
              = link_to '新規会員登録', new_user_registration_path