.top-page
  .header
    .header-box
      .main-header
        .logo-icon
          = link_to image_tag src="logo.png",size: "140x40"
        .search-form
          %input.form{:placeholder=>'キーワードから探す',:type=>'text'}
          = link_to image_tag src="icon-search 1.png", class:'search',size: "20x20"
      .main-navi
        .left-navi
          = link_to 'カテゴリー'
          = link_to 'ブランド'
        .right-navi
          = link_to 'ログイン'
          = link_to '新規会員登録'

  .top-main
    .main-visual
      .content
        .text
          .p 人生を変えるアプリ
          .p2 FURIMAはだれでもかんたんに出品・購入できる
          .p3 フリマアプリです。
          .app-icon
            = link_to image_tag src="app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",size: "180x53",class:'abtn'
            = link_to image_tag src="google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",size: "180x53",class:'gbtn'

    .main-intro
      .intro-content
        .subtitle
          .reason FURIMAが選ばれる理由 
          
          %ul.list
            %li
              = image_tag src="pict-reason-01.jpg",size: "360x360"
              .text1
                %p1.a 3分 
                %p2 ですぐに出品kkkkkkkkkkk
            %li
              = image_tag src="pict-reason-02.jpg",size: "360x360"
              %p1 プルやすい
            %li
              = image_tag src="pict-reason-03.jpg",size: "360x360"
              %p1 手数料最安値
          
    
    .number1visual
      .number1__content
        .number1__content__text
          .subtitle 会員数日本一位
          .popular
            .pb FURIMAは、フリマアプリでも最も人気
            .pc フリマアプリです
            .pd ほしかったあの商品に出会えるかもしれません。
          .app-icon
            = link_to image_tag src="app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",size: "180x53",class:'abtn'
            = link_to image_tag src="google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",size: "180x53",class:'gbtn'

     
    .furima-feature
      .h2
      FURIMAの特徴
      .item-image
      = image_tag src="icon-01.png",size:"220x337"
      = image_tag src="icon-02.png",size:"219x337"
      = image_tag src="icon-04.png",size:"219x337"

    .pickup
      .product-phot
        .phot-1
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
        .phot-2
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
    .download-banner
      .download-banner__content
        .download-banner__content__text
          .p だれでもかんたん、人生を変えるフリマアプリ
          .p2 今すぐ無料ダウンロード！
          .app-icon
            = link_to image_tag src="app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",size: "180x53",class:'abtn'
            = link_to image_tag src="google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",size: "180x53",class:'gbtn'



  .footer
    .footer__content
      %ul.furima
        %li.content FURIMAについて
        %li.content FURIMAを見る
        %li.content ヘルプ＆ガイド

    .camera-icon
      %p 出品する
      =link_to image_tag src="icon_camera.png",size: "54x54",class:'camera'
    .furima-icon
      =link_to image_tag src="logo-white.png",size: "160x43"
    .furima-text
      %p ©︎FURIMA