.top-page
  .header
    .header-box
      .main-header
        .logo-icon
          = link_to image_tag src="logo.png",size: "140x40"
        .search-form
          %input.form{:placeholder=>'キーワードから探す',:type=>'text'}
          = image_tag src="icon-search 1.png", class:'search',size: "20x20"
      .main-navi
        .left-navi
          = link_to 'カテゴリー'
          = link_to 'ブランド'
        .right-navi
          = link_to 'ログイン',class: 'btn'
          = link_to '新規会員登録',class: 'btn'

  .top-main
    .main-visual
      .content
        .text
          .p 人生を変えるアプリ
          .p2 FURIMAはだれでもかんたんに出品・購入できる
          .p3 フリマアプリです
        .app-icon
          = link_to image_tag src="dapp-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",size: "180x53"
          = link_to image_tag src="googleplay.png",size: "190x53"

    .main-introduction
      .ul
        .li
          = image_tag src="pict-reason-01.jpg",size: "360x360"
        .li
          = image_tag src="pict-reason-02.jpg",size: "360x360"
        .li
          = image_tag src="pict-reason-03.jpg",size: "360x360"
          
    .main-visual2

    .main-feature
      .h2
      FURIMAの特徴
      .item-image
      = image_tag src="icon-01.png",size:"220x337"
      = image_tag src="icon-02.png",size:"219x337"
      = image_tag src="icon-04.png",size:"219x337"
    .main-pickup

      .product-phot
        .phot-1
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
        .phot-2
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
        = image_tag src="icon-04.png",size:"220x150"
    .main-banner
      = image_tag src="bg-appBanner-pict.jpg",size:"1440x359"
  .footer
    .camera-icon
      出品する