.container
  .side
    .mypage-nav
      .mypage-nav-list
      %ul
        %li 
          = link_to "#" do
          マイページ
          .icon-arrow-right
        %li 
          = link_to "#" do
          お知らせ
          .icon-arrow-right
        %li 
          = link_to "#" do
          やることリスト
          .icon-arrow-right
        %li 
          = link_to "#" do
          いいね!一覧
          .icon-arrow-right
        %li 
          = link_to "#" do
          出品する
          .icon-arrow-right
        %li 
          = link_to "#" do
          出品した商品-出品中
          .icon-arrow-right
        %li 
          = link_to "#" do
          出品した商品-取引中
          .icon-arrow-right
        %li 
          = link_to "#" do
          出品した商品-売却済み
          .icon-arrow-right
        %li 
          = link_to "#" do
          購入した商品-取引中
          .icon-arrow-right
        %li 
          = link_to "#" do
          購入した商品-過去の取引
          .icon-arrow-right
        %li 
          = link_to "#" do
          ニュース一覧
          .icon-arrow-right
        %li 
          = link_to "#" do
          評価一覧
          .icon-arrow-right
        %li 
          = link_to "#" do
          ガイド
          .icon-arrow-right
        %li 
          = link_to "#" do
          お問い合わせ
          .icon-arrow-right
      .mypage-nav-head
      メルペイ
      .mypage-nav-list
      %ul
        %li 
          = link_to "#" do
          売却・振込申請
          .icon-arrow-right
        %li 
          = link_to "#" do
          ポイント
          .icon-arrow-right
      .mypage-nav-head
      設定
      .mypage-nav-list
      %ul
        %li 
          = link_to "#" do
          プロフィール
          .icon-arrow-right
        %li 
          = link_to "#" do
          発送元・お届け先住所住所変更
          .icon-arrow-right
        %li 
          = link_to "#" do
          支払い方法
          .icon-arrow-right
        %li 
          = link_to "#" do
          メール/
          .icon-arrow-right
        %li 
          = link_to "#" do
          ポイント
          .icon-arrow-right
        %li 
          = link_to "#" do
          ポイント
          .icon-arrow-right
        %li 
          = link_to "#" do
          ポイント
          .icon-arrow-right
        
  .content
    .mypage-user-icon
      = link_to "#",class: "user-icon-btn" do
    .mypage-tab-container-notification-todo
      .mypage-tabs
      .tab-content
    .mypage-tab-container
      .mypage-tab-head
      購入した商品
      .mypage-tabs
      .tab-content