.defalt-container
  .l-container
    -if @default_card_information.present?
      .card-show-container
        .card-show-container__showheader クレジットカード情報
        .form-content
          %br
          = "**** **** **** " + @default_card_information.last4
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          .form-content__select
            = form_tag(card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button.form-content__select__delete 削除する
              = link_to "マイページへ戻る", users_path, class: "form-content__select__return"
          
    -else
      .l-container__content__credit__container
        .l-container__content__credit__container__index
          クレジットカード一覧
        .l-container__content__credit__container__add-card
          .btn
            = image_tag 'icon-04.png', alt: 'icon', height: '60px', width: '50px', class: 'icon'
            = link_to new_card_path,class: "how-to-pay-text" do
              クレジットカードを追加する
          .return    
            = link_to "マイページへ戻る", users_path, class: "return"  
        .l-container__content__credit__container__how-to-pay
          = link_to "#",class: "how-to-pay-text" do
            支払い方法について
            .icon-arrow-right
              >   