.pcheader
  .pcheader__inner
    .pcheader__inner__main
      %h1.pcheader__inner__main--icon
        = link_to "#" do
          = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", size: "100x40.55"
      .pcheader__inner__main--search
        %form.pcheader__inner__main--search--form
          %input{placeholder: "キーワードから探す"}
          %button
            .search--icon
              = image_tag "http://furima.tokyo/assets/icon-search-60a83ada85216fe00789cd16065281694d9a08948275fef83683fadcf131d84d.svg", size: "19.61x19.61"
    .pcheader__inner__navi
      %ul.pcheader__inner__navi__lists
        %li.pcheader__inner__navi__lists--left--category
          = link_to "#" do
            カテゴリー
        %li.pcheader__inner__navi__lists--left--brand
          = link_to "#" do
            ブランド
      %ul.pcheader__inner__navi__lists
        %li.pcheader__inner__navi__lists--right--login
          = link_to "#" do
            ログイン
        %li.pcheader__inner__navi__lists--right--signup
          = link_to "#" do
            新規会員登録

-# パンくずメニュー
%nav.breadCrumbs
  %ul.category
    %li.category__content
      = link_to "#", class: "category__content--app stylenone" do
        FRIMA
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      = link_to "#", class: "category__content--first stylenone" do
        = @category.root.name
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      = link_to "#", class: "category__content--second stylenone" do
        = @category.parent.name
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      = link_to "#", class: "category__content--third stylenone" do
        = @category.name
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      %p.category__content--item
        = @product.item_name

.item
  .item__main
    .item__main__right
    .item__main__left
      .top-contents
        .top-contents__item
          %h2.top-contents__item--name
            = @product.item_name
          .top-contents__item__body
            %ul.top-contents__item__body__images
              %li.top-contents__item__body__images--show
                = image_tag "#{@image}", size: "560x346", class: "top-contents__item__body__images--show--image img01 mainimage"
                %ul#image-hover.img01.top-contents__item__body__images--show--index
                  - @images.each do |image|
                    %li.top-contents__item__body__images--show--index--list
                      = image_tag "#{image.image}", size: "100x87"
        .top-contents__price
          %span.top-contents__price__main
            = @product.price
          .top-contents__price__sub
            %span (税込)
            %span 送料込み
        - if @product.user.id != current_user.id
          = link_to purchase_products_path(@product) do
            .top-contents__purchase 購入画面に進む
        - else
          = link_to edit_product_path(@product) do
            .top-contents__edit 商品の編集ページに進む
          = link_to product_path(@product), method: :delete do
            .top-contents__delete 商品を削除する
        .top-contents__detail
          = @product.item_detail
        .top-contents__table
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  = @product.user.nickname
              %tr
                %th カテゴリー
                %td
                  = link_to "#" do
                    = @category.root.name
                  %br
                  = link_to "#" do
                    = @category.parent.name
                  %br
                  = link_to "#" do
                    = @category.name
              %tr
                %th ブランド
                %td 
              %tr
                %th 商品のサイズ
                %td 
              %tr
                %th 商品の状態
                %td
                  = @product.condition
              %tr
                %th 配送料の負担
                %td
                  = @product.delivery_pay
              %tr
                %th 発送元の地域
                %td 
                  = link_to "#" do
                    = @product.orign_area
              %tr
                %th 発送日の目安
                %td
                  = @product.lead_time
        .top-contents__option
          %ul.top-contents__option--favorite
            %li.top-contents__option--favorite--btn
              %i.fas.fa-star  お気に入り 0
          %ul.top-contents__option--report
            %li.top-contents__option--report--btn
              = link_to "#" do
                %i.fas.fa-flag 不適切な商品の通報

    .comment
      %form.comment__new
        %textarea.comment__new--text
        %p.comment__new--notes
          相手のことを考え丁寧なコメントを心がけましょう。
          %br>/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button.comment__new--submit
          %i.fas.fa-comment コメントする

    %ul.link-navi
      %li.link-navi__left
        = link_to "#" do
          %i.fas.fa-angle-left
          %span 前の商品
      %li.link-navi__right
        = link_to "#" do
          %span 後ろの商品
          %i.fas.fa-angle-right

    .related-item
      %a.related-item__link{href: "#"} ベビー・キッズをもっと見る
      .related-item__producuts

.app-banner
  .app-banner__inner
    .app-banner__inner--title だれでもかんたん、人生を変えるフリマアプリ
    .app-banner__inner--body 今すぐ無料ダウンロード！
    .app-banner__inner--icon
      = link_to "#" do
        = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x53"
      = link_to "#" do
        = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x53"
.footer
  %ul.footer__contents
    %li.footer__contents__box
      %h2.footer__contents__box--title FURIMAについて
      %ul.footer__contents__box--lists
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約
    %li.footer__contents__box
      %h2.footer__contents__box--title FURIMAを見る
      %ul.footer__contents__box--lists 
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
    %li.footer__contents__box
      %h2.footer__contents__box--title ヘルプ＆ガイド
      %ul.footer__contents__box--lists
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ
  .footer__logo
    = link_to "#" do
      = image_tag "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg", size: "160x46"

  %p.footer__copyright ©️ FURIMA

= link_to "#" do
  .purchase-btn
    %span.purchase-btn--text 出品する
    = image_tag "http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg", size: "54x54"
