.wrapper
  = render partial: 'shared/home_header'
  .container
    .containerLeft
      = search_form_for @search_product,url: search_products_path, class: 'detail-container' do |f|
        .search-sort
          = f.select(:sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' }, { selected: params[:search] }, { onchange: 'this.form.submit()' })
        .detail-box
          %h3 詳細検索
          .detail-field
            %label
              .i.fas.fa-plus
              %span キーワードを追加する
            = f.search_field :item_name_cont, placeholder: '例) 値下げ', class: 'detail-field__large', value: @search
          .detail-field
            %label
              .i.fas.fa-coins
              %span 価格
            = f.search_field :price_gteq, placeholder: '¥ Min', class: 'detail-field__middle'
            %span ~
            = f.search_field :price_lteq, placeholder: '¥ Max', class: 'detail-field__middle'
          .detail-field
            %label
              .i.fas.fa-star
              %span 商品の状態
            .detail-field__check-box
              = f.check_box :condition_id
              %span すべて
            .detail-field__check-box
              = f.check_box :condition_id
              %span 新品、未使用
            .detail-field__check-box
              = f.check_box :condition_id
              %span 未使用に近い
            .detail-field__check-box
              = f.check_box :condition_id
              %span 目立った傷や汚れなし
            .detail-field__check-box
              = f.check_box :condition_id
              %span やや傷や汚れあり
            .detail-field__check-box
              = f.check_box :condition_id
              %span 傷や汚れあり
            .detail-field__check-box
              = f.check_box :condition_id
              %span 全体的に状態が悪い
          .detail-data
            %button クリア
            = f.submit '完了', class: 'submit-btn'
    .containerRight
      - if @products.empty?
        .containerRight__search-result-head
          %span= @search
          %span.search-text
            の検索結果
        .containerRight__search-result-head
          %span.search-text
          %span お探しの商品はありません
      - else
        .containerRight__search-result-head
          %span= @search
          %span.search-text
            の検索結果
        .containerRight__search-result-number
          %p= "1-#{@products.count}件表示"
        .containerRight__search-item-field
          - @products.each do |product|
            = link_to product_path(product) do
              .item-box
                .item-box__photo
                  - product.images.each_with_index do |image, i|
                    - if i == 0
                      = image_tag image.image.url, size: '160x160'
                    - if product.status == 1
                      .item-box__photo__sold-box
                        %p SOLD
                .item-box__text
                  .item-box__text__name
                    %h3= product.item_name
                  .item-box__text__price
                    = "¥#{product.price}"
                  .item-box__text__icon
                    %i.fas.fa-star.stariocn
                    %span 1
  %ul
    %li= paginate(@products)
= render partial: 'shared/home_footer'