
.top-page
  = render partial: 'shared/home_header'

-# パンくずメニュー
%nav.breadCrumbs
  %ul.category
    %li.category__content
      = link_to "#", class: "category__content--app stylenone" do
        FRIMA
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      = link_to "#", class: "category__content--first stylenone" do
        = @category.root.name
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      = link_to "#", class: "category__content--second stylenone" do
        = @category.parent.name
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      = link_to "#", class: "category__content--third stylenone" do
        = @category.name
    %li.category__content
      %i.fas.fa-angle-right
    %li.category__content
      %p.category__content--item
        = @product.item_name

.item
  .item__main
    .item__main__right
    .item__main__left
      .top-contents
        .top-contents__item
          %h2.top-contents__item--name
            = @product.item_name
          .top-contents__item__body
            %ul.top-contents__item__body__images
              %li.top-contents__item__body__images--show
                = image_tag @image.image.url , size: "560x346", class: "top-contents__item__body__images--show--image img01 mainimage"
                %ul#image-hover.img01.top-contents__item__body__images--show--index
                  - @product.images.each do |image|
                    %li.top-contents__item__body__images--show--index--list
                      = image_tag image.image.url, size: "112x87"

        .top-contents__price
          %span.top-contents__price__main
            = @product.price
          .top-contents__price__sub
            %span (税込)
            %span 送料込み
        - if user_signed_in?
          - if @product.user.id != current_user.id
            - if @product.status == 0
              = link_to purchase_product_path(@product) do
                .top-contents__purchase 購入画面に進む
            - else 
              .top-contents__delete 購入済
          - else
            = link_to edit_product_path(@product) do
              .top-contents__edit 商品の編集ページに進む
            = link_to product_path(@product), method: :delete do
              .top-contents__delete 商品を削除する
        .top-contents__detail
          = @product.item_detail
        .top-contents__table
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  = @product.user.nickname
              %tr
                %th カテゴリー
                %td
                  = link_to "#" do
                    = @category.root.name
                  %br
                  = link_to "#" do
                    = @category.parent.name
                  %br
                  = link_to "#" do
                    = @category.name
              %tr
                %th ブランド
                %td 
              %tr
                %th 商品のサイズ
                %td 
              %tr
                %th 商品の状態
                %td
                  = @product.condition.name
              %tr
                %th 配送料の負担
                %td
                  = @product.delivery_pay.name
              %tr
                %th 発送元の地域
                %td 
                  = link_to "#" do
                    = @product.prefecture.name
              %tr
                %th 発送日の目安
                %td
                  = @product.lead_time.name
        .top-contents__option
          %ul.top-contents__option--favorite
            %li.top-contents__option--favorite--btn
              %i.fas.fa-star  お気に入り 0
          %ul.top-contents__option--report
            %li.top-contents__option--report--btn
              = link_to "#" do
                %i.fas.fa-flag 不適切な商品の通報

    .comment
      .insert_comment
        - @product.comments.each do |comment|
          .seller-message{'data-id'=> comment.id}
            %ul.seller-message__items
              %li.seller-message__contents
                .seller-message__contents__items
                  - if @product.user_id == comment.user_id
                    %p.seller-message__contents__items__user--right
                      #{comment.user.nickname}(出品者)
                  - else
                    %p.seller-message__contents__items__user--left
                      = comment.user.nickname
                  .seller-message__contents__items__body
                    .seller-message__contents__items__body--text
                      = comment.text
                    .seller-message__contents__items__body--icons
                      %time.seller-message__contents__items__body--icons--left
                        %i.fas.fa-clock
                        %span
                          = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")

                      - if comment.user_id == current_user.id
                        .seller-message__contents__items__body--icons--right
                          .seller-message__contents__items__body--icons--right--delete{'data-product'=> @product.id, 'data-comment'=> comment.id}
                            %i.fas.fa-trash-alt
      = form_with model:[@product, @comment], url: "/products/#{@product.id}/comments", method: :post, class: "comment__new", local: true do |f|
        = f.text_area :text, class: "comment__new--text"
        = f.hidden_field :product_id, type: "hidden", value: @product.id
        = f.hidden_field :current_user, type: "hidden", value: @comment.user_id
        %p.comment__new--notes
          相手のことを考え丁寧なコメントを心がけましょう。
          %br>/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.submit :コメントする, class: "comment__new--submit fas fa-comment"
    %ul.link-navi
      %li.link-navi__left
        = link_to "#" do
          %i.fas.fa-angle-left
          %span 前の商品
      %li.link-navi__right
        = link_to "#" do
          %span 後ろの商品
          %i.fas.fa-angle-right

    .related-item
      %a.related-item__link{href: "#"} ベビー・キッズをもっと見る
      .related-item__producuts

.app-banner
  .app-banner__inner
    .app-banner__inner--title だれでもかんたん、人生を変えるフリマアプリ
    .app-banner__inner--body 今すぐ無料ダウンロード！
    .app-banner__inner--icon
      = link_to "#" do
        = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", size: "180x53"
      = link_to "#" do
        = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", size: "180x53"


= render partial: 'shared/home_footer'